# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Will-a-tropical-storm-make-landfall?" data-toc-modified-id="Will-a-tropical-storm-make-landfall?-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Will a tropical storm make landfall?</a></div><div class="lev2 toc-item"><a href="#Generate-the-dataset" data-toc-modified-id="Generate-the-dataset-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Generate the dataset</a></div><div class="lev3 toc-item"><a href="#Open-the-source-dataset" data-toc-modified-id="Open-the-source-dataset-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Open the source dataset</a></div><div class="lev3 toc-item"><a href="#Extract,-transform-and--load-features-(ETL)" data-toc-modified-id="Extract,-transform-and--load-features-(ETL)-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Extract, transform and  load features (ETL)</a></div><div class="lev3 toc-item"><a href="#class-label-distribution-of-filtered-source-dataset" data-toc-modified-id="class-label-distribution-of-filtered-source-dataset-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>class label distribution of filtered source dataset</a></div><div class="lev3 toc-item"><a href="#Generate-random-sampling-of-each-prediction-(class)-value-and-generate-ARFF-file" data-toc-modified-id="Generate-random-sampling-of-each-prediction-(class)-value-and-generate-ARFF-file-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Generate random sampling of each prediction (class) value and generate ARFF file</a></div><div class="lev3 toc-item"><a href="#breakdown-of-dataset-records-used-for-training-and-test-sets" data-toc-modified-id="breakdown-of-dataset-records-used-for-training-and-test-sets-1.1.5"><span class="toc-item-num">1.1.5&nbsp;&nbsp;</span>breakdown of dataset records used for training and test sets</a></div><div class="lev3 toc-item"><a href="#training-set-class-label-distribution-of-randomly-sampled-datasets-of-each-class-value" data-toc-modified-id="training-set-class-label-distribution-of-randomly-sampled-datasets-of-each-class-value-1.1.6"><span class="toc-item-num">1.1.6&nbsp;&nbsp;</span>training set class label distribution of randomly sampled datasets of each class value</a></div><div class="lev3 toc-item"><a href="#Save-DataFrame-datasets-(all,-landfall/nolandfall-training-sets-and-test-set)-as-tables-in-HDF5" data-toc-modified-id="Save-DataFrame-datasets-(all,-landfall/nolandfall-training-sets-and-test-set)-as-tables-in-HDF5-1.1.7"><span class="toc-item-num">1.1.7&nbsp;&nbsp;</span>Save DataFrame datasets (all, landfall/nolandfall training sets and test set) as tables in HDF5</a></div><div class="lev3 toc-item"><a href="#Visualize-the-dataset-storms-tracks" data-toc-modified-id="Visualize-the-dataset-storms-tracks-1.1.8"><span class="toc-item-num">1.1.8&nbsp;&nbsp;</span>Visualize the dataset storms tracks</a></div>

* **FA16-BL-INFO-I526-34917**
* **Applied Machine Learning**
* **Gerald Manipon, MS Data Science student - Indiana University**
* **gmanipon@iu.edu**
* **this jupyter notebook can be found here: https://github.com/pymonger/tropicalstorm-ml-analysis**

# Will a tropical storm make landfall?

As a native of the Hawaiian Islands, the recent tropical storms in 2016 (Madeline and Lester) that threatened the state has sparked a very interesting and personal question. Can we predict whether or not a tropical storm will make landfall and possibly affect the safety and lives of the inhabitants? Currently there are real-time storm tracking models that enable our emergency response agencies to be as responsive as possible and to give up-to-the-minute status on potential threats. However, what does historical data say and can we predict landfall using machine learning on the initial observation of a tropical storm?

## Generate the dataset

The source dataset I will use comes from the IBTrACS (International Best Track Archive for Climate Stewardship) project: https://www.ncdc.noaa.gov/ibtracs/index.php. This project is endorsed by the WMO (World Meteorological Organization) as an "official archiving and distribution resource for tropical cyclone best track data". The IBTrACS project provides datasets that:

* Contains the most complete global set of historical tropical cyclones available
* Combines information from numerous tropical cyclone datasets
* Simplifies inter-agency comparisons by providing storm data from multiple sources in one place
* Provides data in popular formats to facilitate analysis
* Checks the quality of storm inventories, positions, pressures, and wind speeds, passing the information on to the user

I will be using the IBTrACS-WMO NetCDF file that contains all storms: https://www.ncdc.noaa.gov/ibtracs/index.php?name=wmo-data. Since NetCDF is a self-describing format, info about the variables contained in this dataset can be introspected. Additional info about the variables is located here: ftp://eclipse.ncdc.noaa.gov/pub/ibtracs/v03r08/wmo/netcdf/README.netcdf.

I will be performing some ETL (extraction, transformation and loading) tasks to prepare and filter (remove records with missing values) the source dataset to a derived dataset which I will use for this analysis. The source dataset essentially aggregates every recorded tropical storm from different source agencies and provides time-series information of pertinent variables describing the storm as it progressed through its track. *Since I'm only interested in being able to predict whether or not the storm will make landfall based on the storm's genesis and initial observation, my derived dataset will be composed of features that are essentially the values of the source dataset variables at observation **t<sub>0</sub>**.*

The class variable (prediction variable) will be derived from the source dataset's **landfall** variable:

* **landfall** { True, False }
```
    short landfall(storm, time) ;
        landfall:long_name = "Minimum distance to land until next report (0=landfall)" ;
        landfall:units = "km" ;
        landfall:_FillValue = -999s ;
```

I will aggregate this variable into a single value of **True** or **False** if it makes landfall at any time in a storm's track.

The features I will include from the source dataset are:

* **genesis_basin** { 0 = NA - North Atlantic, 1 = SA - South Atlantic, 2 = WP - West Pacific, 3 = EP - East Pacific, 4 = SP - South Pacific, 5 = NI - North Indian, 6 = SI - South Indian }
  ```
    byte genesis_basin(storm) ;
        genesis_basin:long_name = "Basin of genesis" ;
        genesis_basin:units = " " ;
        genesis_basin:key = "0 = NA - North Atlantic\n",
    "1 = SA - South Atlantic\n",
    "2 = WP - West Pacific\n",
    "3 = EP - East Pacific\n",
    "4 = SP - South Pacific\n",
    "5 = NI - North Indian\n",
    "6 = SI - South Indian\n",
    "7 = AS - Arabian Sea\n",
    "8 = BB - Bay of Bengal\n",
    "9 = EA - Eastern Australia\n",
    "10 = WA - Western Australia\n",
    "11 = CP - Central Pacific\n",
    "12 = CS - Carribbean Sea\n",
    "13 = GM - Gulf of Mexico\n",
    "14 = MM - Missing" ;
        genesis_basin:Note = "Based on where the storm began" ;
  ```
  * the additional variable info at ftp://eclipse.ncdc.noaa.gov/pub/ibtracs/v03r08/wmo/netcdf/README.netcdf states that only values 0-6 are used for this variable thus I will be discretizing the values for this feature
* **sub_basin** of first observation { 0 = NA - North Atlantic, 1 = SA - South Atlantic, 2 = WP - West Pacific, 3 = EP - East Pacific, 4 = SP - South Pacific, 5 = NI - North Indian, 6 = SI - South Indian, 7 = AS - Arabian Sea, 8 = BB - Bay of Bengal, 9 = EA - Eastern Australia, 10 = WA - Western Australia, 11 = CP - Central Pacific, 12 = CS - Carribbean Sea, 13 = GM - Gulf of Mexico, 14 = MM - Missing }
  ```
    byte sub_basin(storm, time) ;
        sub_basin:long_name = "Sub-Basin" ;
        sub_basin:units = " " ;
        sub_basin:key = "0 = NA - North Atlantic\n",
    "1 = SA - South Atlantic\n",
    "2 = WP - West Pacific\n",
    "3 = EP - East Pacific\n",
    "4 = SP - South Pacific\n",
    "5 = NI - North Indian\n",
    "6 = SI - South Indian\n",
    "7 = AS - Arabian Sea\n",
    "8 = BB - Bay of Bengal\n",
    "9 = EA - Eastern Australia\n",
    "10 = WA - Western Australia\n",
    "11 = CP - Central Pacific\n",
    "12 = CS - Carribbean Sea\n",
    "13 = GM - Gulf of Mexico\n",
    "14 = MM - Missing" ;
        sub_basin:Note = "Based on present location" ;
        sub_basin:_FillValue = '\201' ;
  ```
  * this feature will remain numeric since there are 14 values (2 more than the limit of 12 discrete variables imposed by the assignment)
* **time** of first observation (MJD value) (REAL)
  ```
    double time_wmo(storm, time) ;
        time_wmo:long_name = "Modified Julian Day" ;
        time_wmo:units = "days since 1858-11-17 00:00:00" ;
        time_wmo:_FillValue = 9.969209999999999e+36 ;
  ```
* **lon** (longitude) of first observation (REAL)
  ```
    short lon_wmo(storm, time) ;
        lon_wmo:long_name = "Storm center longitude" ;
        lon_wmo:units = "degrees_east" ;
        lon_wmo:scale_factor = 0.0099999998f ;
        lon_wmo:_FillValue = -32767s ;
  ```
* **lat** (latitude) of first observation (REAL)
  ```
    short lat_wmo(storm, time) ;
        lat_wmo:long_name = "Storm center latitude" ;
        lat_wmo:units = "degrees_north" ;
        lat_wmo:scale_factor = 0.0099999998f ;
        lat_wmo:_FillValue = -32767s ;
  ```
* **dist2land** (distance to land) of first observation (REAL)
  ```
    short dist2land(storm, time) ;
        dist2land:long_name = "Distance to land" ;
        dist2land:units = "km" ;
        dist2land:_FillValue = -999s ;
  ```
* **msw** (maximum sustained wind) of first observation (REAL)
  ```
    short pres_wmo(storm, time) ;
        pres_wmo:long_name = "Minimum Central Pressure (MCP)" ;
        pres_wmo:units = "mb" ;
        pres_wmo:scale_factor = 0.1f ;
        pres_wmo:_FillValue = -32767s ;
  ```
* **mcp** (minimum central pressure) of first observation (REAL)
  ```
    short wind_wmo(storm, time) ;
        wind_wmo:long_name = "Maximum Sustained Wind (MSW)" ;
        wind_wmo:units = "kt" ;
        wind_wmo:scale_factor = 0.1f ;
        wind_wmo:_FillValue = -32767s ;
  ```
* **nature** (storm nature) { 0 = TS - Tropical, 1 = SS - Subtropical, 2 = ET - Extratropical, 3 = DS - Disturbance, 4 = MX - Mix of conflicting reports, 5 = NR - Not Reported, 6 = MM - Missing, 7 = - Missing }
  ```
        nature_wmo:long_name = "Storm nature" ;
        nature_wmo:key = "0 = TS - Tropical\n",
    "1 = SS - Subtropical\n",
    "2 = ET - Extratropical\n",
    "3 = DS - Disturbance\n",
    "4 = MX - Mix of conflicting reports\n",
    "5 = NR - Not Reported\n",
    "6 = MM - Missing\n",
    "7 =  - Missing" ;
        nature_wmo:Note = "Based on classification from original sources" ;
        nature_wmo:_FillValue = '\201' ;
  ```
  * this feature will be discretized
* **track_type** { 0 = main - cylclogenesis to cyclolysis, 1 = merge - cyclogenesis to merger, 2 = split - split to cyclolysis, 3 = other - split to merger }
  ```
    byte track_type(storm) ;
        track_type:long_name = "Track type" ;
        track_type:key = "0 = main - cyclogenesis to cyclolysis\n",
    "1 = merge - cyclogenesis to merger\n",
    "2 = split - split to cyclolysis\n",
    "3 = other - split to merger" ;
  ```
  * this feature will be discretized

### Open the source dataset

In [1]:
import os, sys, re, json, arff
from copy import deepcopy
from subprocess import check_output
import netCDF4 as NC
import numpy as np
import pandas as pd
from ipyleaflet import Map, GeoJSON
from astropy.time import Time
from IPython.display import display, HTML, Markdown


# get netcdf dataset
file = "Allstorms.ibtracs_wmo.v03r08.nc"
ds = NC.Dataset(file)

### Extract, transform and  load features (ETL)

In [3]:
# define dict for discrete features
disc_map = {
    "basin": {
         0: "NA", # North Atlantic
         1: "SA", # South Atlantic
         2: "WP", # West Pacific
         3: "EP", # East Pacific
         4: "SP", # South Pacific
         5: "NI", # North Indian
         6: "SI", # South Indian
         7: "AS", # Arabian Sea
         8: "BB", # Bay of Bengal
         9: "EA", # Eastern Australia
        10: "WA", # Western Australia
        11: "CP", # Central Pacific
        12: "CS", # Carribbean Sea
        13: "GM", # Gulf of Mexico
        14: "MM", # Missing
    },
    "nature": {
        0: "TS",  # Tropical
        1: "SS",  # Subtropical
        2: "ET",  # Extratropical
        3: "DS",  # Disturbance
        4: "MX",  # Mix of conflicting reports
        5: "NR",  # Not Reported
        6: "MM",  # Missing
        7: "MM2", # Also Missing
    },
    "track_type": {
        0: "main",  # cyclogenesis to cyclolysis
        1: "merge", # cyclogenesis to merger
        2: "split", # split to cyclolysis
        3: "other", # split to merger
    },
    "month": {
        1: "Jan",
        2: "Feb",
        3: "Mar",
        4: "Apr",
        5: "May",
        6: "Jun",
        7: "Jul",
        8: "Aug",
        9: "Sep",
        10: "Oct",
        11: "Nov",
        12: "Dec",
    }
}

# extract features from each hurricane and save into a list of dicts
data = []
landfall_count = 0

# compile regular expression for matching unnamed storms
unnamed_re = re.compile(r'(UNNAMED|NOT NAMED)')

for i in range(ds.dimensions['storm'].size):
    
    # get number of observations
    obs = ds.variables['numObs'][i]
    if obs <= 2: continue # skip if there are 2 or less observations
    
    # get storm id (storm names can be re-used so we need to track them uniquely)
    id = np.array_str(NC.chartostring(ds.variables['storm_sn'][i,:]))[2:-1]
    
    # extract filterable features first
    name = np.array_str(NC.chartostring(ds.variables['name'][i,:]))[2:-1]
    genesis_basin = ds.variables['genesis_basin'][i]
    sub_basin = ds.variables['sub_basin'][i,:obs-1]
    nature = ds.variables['nature_wmo'][i:,obs-1]
    
    # skip records that have missing values in features
    if genesis_basin == 14:
        continue
    # skipping this filter; this filters out the east pacific storms
    #if sub_basin[0] == 14:
    #    continue
    if nature[0] in (4, 5, 6, 7):
        continue
        
    # skip records with unnamed storms
    #if unnamed_re.search(name): continue
    
    # extract the rest of the features
    time = ds.variables['time_wmo'][i,:obs-1]
    time_iso = Time(time, format='mjd', scale='utc')
    
    # including the time feature as-is (absolute value) from the source doesn't make 
    # sense for prediction; a better feature to derive from the time feature is the 
    # month of year since this can give the algorithm insight into seasonal effects
    month = time_iso[0].datetime.month
    
    # extract lon and handle wrapping issue
    lon = ds.variables['lon_wmo'][i,:obs-1]
    lon_diff = lon[0] - lon[-1]
    if lon_diff > 180.:
        lon[np.where(lon > 0)] -= 360.
    elif lon_diff < 180.:
        lon[np.where(lon < 0)] += 360.
        
    lat = ds.variables['lat_wmo'][i,:obs-1]
    dist2land = ds.variables['dist2land'][i,:obs-1]
    msw = ds.variables['wind_wmo'][i,:obs-1]
    mcp = ds.variables['pres_wmo'][i,:obs-1]
    tt = ds.variables['track_type'][i]
    landfall = (ds.variables['landfall'][i,:obs-1] == 0).any()
    
    # create GeoJSON of storm track
    ls = { 
        "type": "LineString",
        "coordinates": np.dstack((lon, lat))[0].tolist(),
    }
    
    # create feature for leaflet display;
    # stuff features into a message info for on_hover display
    msg = "{} {} {} {} {} {} {} {} {} {} {} {} {}".format(i, name, obs, genesis_basin, sub_basin[0],
                                                          time_iso[0].iso, lon[0], lat[0], dist2land[0],
                                                          msw[0], mcp[0], nature[0], tt, landfall)
    ls_feature = { 
        "type": "Feature",
        "properties": { "msg": msg },
        "geometry": ls,
    }
    
    # create data dict
    data.append({
        "id": id,
        "name": name,
        "genesis_basin": disc_map['basin'][genesis_basin],
        "sub_basin": disc_map['basin'][sub_basin[0]],
        "time": time[0],
        "month": disc_map['month'][month],
        "lon": lon[0],
        "lat": lat[0],
        "dist2land": dist2land[0],
        "msw": msw[0],
        "mcp": mcp[0],
        "nature": disc_map['nature'][nature[0]],
        "track_type": disc_map['track_type'][tt],
        "landfall": landfall,
        "feature": json.dumps(ls_feature),
    })
    
    # tally landfall
    if landfall: landfall_count += 1
    
# create data frame
df = pd.DataFrame(data)

# print class label distribution of filtered source dataset
display(Markdown("### class label distribution of filtered source dataset"))
display(Markdown("* total storms: {}".format(len(data))))
display(Markdown("* total storms with class variable landfall == True: {}".format(landfall_count)))
display(Markdown("* total storms with class variable landfall == False: {}".format(len(data)-landfall_count)))

WARNING: ErfaWarning: ERFA function "d2dtf" yielded 1 of "dubious year (Note 5)" [astropy._erfa.core]

### class label distribution of filtered source dataset

* total storms: 4836

* total storms with class variable landfall == True: 2315

* total storms with class variable landfall == False: 2521

In [4]:
display(df[['id', 'name', 'genesis_basin', 'sub_basin', 'time', 'month', 'lon', 'lat',
            'dist2land', 'msw', 'mcp', 'nature', 'track_type', 'landfall']])

,id,name,genesis_basin,sub_basin,time,month,lon,lat,dist2land,msw,mcp,nature,track_type,landfall
0,1851175N26270,UNNAMED,NA,GM,-2702.00,Jun,265.200012,28.000000,116,80.0,0.0,TS,main,True
1,1851228N13313,UNNAMED,NA,NA,-2650.00,Aug,312.000000,13.400000,1048,40.0,0.0,TS,main,True
2,1851256N33287,UNNAMED,NA,NA,-2622.00,Sep,286.500000,32.500000,370,50.0,0.0,TS,main,False
3,1851289N29282,UNNAMED,NA,NA,-2589.00,Oct,282.000000,28.699999,244,40.0,0.0,TS,main,True
4,1852232N21293,UNNAMED,NA,NA,-2281.00,Aug,292.899994,20.500000,234,60.0,0.0,TS,main,True
5,1852247N14309,UNNAMED,NA,GM,-2260.00,Sep,269.600006,26.400000,302,70.0,0.0,TS,main,True
6,1852249N17296,UNNAMED,NA,CS,-2264.00,Sep,295.899994,17.000000,208,70.0,0.0,TS,main,True
7,1852264N13309,UNNAMED,NA,NA,-2247.00,Sep,301.500000,16.100000,662,50.0,0.0,TS,main,False
8,1852278N14293,UNNAMED,NA,CS,-2233.00,Oct,286.200012,17.000000,111,90.0,0.0,TS,main,True
9,1853242N12336,UNNAMED,NA,NA,-1905.00,Aug,336.799988,12.099999,682,40.0,0.0,TS,main,False
10,1853251N37307,UNNAMED,NA,NA,-1896.00,Sep,307.000000,37.000000,1067,100.0,0.0,TS,merge,False
11,1853253N41303,UNNAMED,NA,NA,-1894.75,Sep,300.600006,39.899998,601,90.0,0.0,TS,merge,False
12,1853269N26298,UNNAMED,NA,NA,-1878.00,Sep,298.000000,25.799999,906,50.0,0.0,TS,main,False
13,1853291N32280,UNNAMED,NA,NA,-1855.00,Oct,281.500000,27.500000,167,70.0,0.0,TS,main,False
14,1854176N26268,UNNAMED,NA,GM,-1606.00,Jun,267.500000,26.000000,380,60.0,0.0,TS,main,True
15,1854246N25300,UNNAMED,NA,NA,-1532.00,Sep,283.399994,26.400000,201,110.0,0.0,TS,main,True
16,1854261N28266,UNNAMED,NA,GM,-1521.00,Sep,266.399994,28.199999,168,90.0,0.0,TS,main,True
17,1854293N25292,UNNAMED,NA,NA,-1489.00,Oct,292.399994,25.000000,652,50.0,0.0,TS,main,False
18,1855222N44318,UNNAMED,NA,NA,-1195.00,Aug,318.000000,44.000000,905,90.0,0.0,TS,main,False
19,1855236N12304,UNNAMED,NA,NA,-1181.00,Aug,304.100006,12.000000,562,50.0,0.0,TS,main,True
20,1855252N20274,UNNAMED,NA,GM,-1159.00,Sep,270.899994,26.699999,256,70.0,0.0,TS,main,True
21,1856221N25277,UNNAMED,NA,GM,-830.00,Aug,276.100006,25.000000,240,70.0,0.0,TS,main,True
22,1856226N11308,UNNAMED,NA,NA,-826.00,Aug,303.899994,12.099999,556,70.0,0.0,TS,main,False
23,1856232N33285,UNNAMED,NA,NA,-820.00,Aug,284.500000,32.500000,262,50.0,0.0,TS,main,True
24,1856235N13302,UNNAMED,NA,NA,-814.00,Aug,290.200012,21.000000,157,70.0,0.0,TS,main,True
25,1856262N32311,UNNAMED,NA,NA,-790.00,Sep,311.200012,32.000000,1667,50.0,0.0,TS,split,False
26,1857181N34286,UNNAMED,NA,NA,-505.00,Jun,285.500000,34.000000,192,50.0,0.0,TS,main,False
27,1857249N27286,UNNAMED,NA,NA,-436.25,Sep,287.000000,26.500000,521,40.0,0.0,ET,main,True
28,1857265N33287,UNNAMED,NA,NA,-421.00,Sep,286.500000,32.500000,370,70.0,0.0,TS,main,False
29,1857267N16305,UNNAMED,NA,NA,-419.00,Sep,305.299988,16.000000,903,50.0,0.0,TS,main,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4806,2014212N11242,ISELLE,EP,MM,56868.50,Jul,242.100006,11.300000,1544,20.0,1010.0,TS,main,False
4807,2014214N13249,JULIO,EP,MM,56871.00,Aug,248.800003,12.500000,1015,25.0,1008.0,TS,main,False
4808,2014225N15255,KARINA,EP,MM,56881.50,Aug,255.000000,15.099999,392,25.0,1008.0,DS,main,False
4809,2014229N16246,LOWELL,EP,MM,56886.00,Aug,246.300003,16.000000,863,20.0,1008.0,DS,main,False
4810,2014234N12261,MARIE,EP,MM,56891.00,Aug,261.200012,12.300000,428,30.0,1007.0,DS,main,False
4811,2014236N22288,CRISTOBAL,NA,NA,56892.75,Aug,287.799988,21.500000,89,30.0,1005.0,ET,main,True
4812,2014245N19268,DOLLY,NA,GM,56901.50,Sep,267.700012,19.199999,67,25.0,1009.0,DS,main,True
4813,2014246N17254,NORBERT,EP,MM,56902.50,Sep,253.500000,17.000000,304,35.0,1004.0,DS,main,False
4814,2014248N19129,FENGSHEN,WP,MM,56905.50,Sep,127.599998,20.299999,595,0.0,1004.0,ET,main,False
4815,2014253N13244,SIXTEEN,EP,MM,56910.25,Sep,243.500000,12.500000,1351,25.0,1009.0,DS,main,False
4816,2014253N14260,ODILE,EP,MM,56909.50,Sep,259.899994,13.500000,352,25.0,1007.0,TS,main,True
4817,2014254N10142,KALMAEGI,WP,MM,56911.75,Sep,134.000000,13.500000,933,0.0,1004.0,TS,main,True
4818,2014254N14327,EDOUARD,NA,NA,56910.75,Sep,326.799988,13.700000,1696,25.0,1009.0,DS,main,False
4819,2014259N11262,POLO,EP,MM,56916.00,Sep,262.399994,11.400000,482,35.0,1007.0,DS,main,False
4820,2014260N13135,FUNG-WONG,WP,MM,56917.00,Sep,135.000000,12.599999,1017,0.0,1002.0,ET,main,True
4821,2014267N15257,RACHEL,EP,MM,56924.00,Sep,257.399994,14.500000,352,30.0,1006.0,DS,main,False
4822,2014267N18150,KAMMURI,WP,MM,56923.50,Sep,149.599991,17.900000,2126,0.0,1004.0,ET,main,False
4823,2014271N10160,PHANFONE,WP,MM,56928.25,Sep,157.099991,11.000000,1681,0.0,1004.0,ET,main,True
4824,2014274N15260,SIMON,EP,MM,56930.50,Sep,259.899994,14.700000,227,25.0,1008.0,DS,main,True
4825,2014275N06166,VONGFONG,WP,MM,56932.50,Oct,162.099991,7.300000,1625,0.0,1006.0,ET,main,True
4826,2014283N22299,FAY,NA,NA,56940.00,Oct,298.799988,22.000000,610,35.0,1007.0,TS,main,False
4827,2014284N10231,ANA,EP,MM,56940.50,Oct,231.300003,9.700000,2429,20.0,1009.0,ET,main,False
4828,2014285N16305,GONZALO,NA,NA,56941.75,Oct,305.100006,16.400000,917,25.0,1010.0,ET,main,False
4829,2014290N14261,TRUDY,EP,MM,56947.25,Oct,261.399994,13.900000,250,25.0,1007.0,TS,main,True
4830,2014294N20265,HANNA:INVEST,NA,GM,56951.00,Oct,264.700012,19.500000,88,25.0,1002.0,DS,main,True
4831,2014303N11261,VANCE,EP,MM,56959.75,Oct,260.899994,10.700000,609,30.0,1007.0,TS,main,False
4832,2014303N13141,NURI,WP,MM,56960.00,Oct,140.899994,12.599999,1599,0.0,1004.0,ET,main,False
4833,2014329N08131,SINLAKU,WP,MM,56987.00,Nov,128.000000,8.400000,173,0.0,1002.0,TS,main,True
4834,2014334N02156,HAGUPIT,WP,MM,56991.50,Nov,156.000000,2.600000,797,0.0,1006.0,TS,main,True
4835,2014362N07130,JANGMI,WP,MM,57019.00,Dec,128.699997,7.400000,231,0.0,1006.0,TS,main,True

### Generate random sampling of each prediction (class) value and generate ARFF file

In [7]:
# randomly sample 500 records of each class value (these will be the training set)
landfall_sample = df.loc[df['landfall'] == True].sample(500)
nolandfall_sample = df.loc[df['landfall'] == False].sample(500)

# get the rest of the records to be used as the test set
test_set = df[-df['id'].isin(landfall_sample['id']) &
              -df['id'].isin(nolandfall_sample['id'])]

# base ARFF dict for create ARFF files
arff_data = {
    "relation": "tropicalstorms",
    "description": "IBTrACS (International Best Track Archive for Climate Stewardship) tropical storm database",
    "attributes": [
        #("genesis_basin", ["NA", "SA", "WP", "EP", "SP", "NI", "SI"]),
        ("nature", ["TS", "SS", "ET", "DS"]),
        ("track_type", ["main", "merge", "split", "other"]),
        ("month", ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]),
        #("time", "DATE"),
        #("time", "REAL"),
        ("lon", "REAL"),
        ("lat", "REAL"),
        ("dist2land", "REAL"),
        ("msw", "REAL"),
        ("mcp", "REAL"),
        ("landfall", ["True", "False"]),
    ],
    "data": [],
}

# create ARFF file for training set
arff_data_training = deepcopy(arff_data)
for r in landfall_sample.itertuples():
    arff_data_training['data'].append([r.nature, r.track_type, r.month,
                                       r.lon, r.lat, r.dist2land, r.msw,
                                       r.mcp, r.landfall]) 
for r in nolandfall_sample.itertuples():
    arff_data_training['data'].append([r.nature, r.track_type, r.month,
                                       r.lon, r.lat, r.dist2land, r.msw,
                                       r.mcp,  r.landfall]) 
with open('tropicalstorms-trainingset.arff', 'w') as f:
    arff.dump(arff_data_training, f)

# create ARFF file for test set
arff_data_test = deepcopy(arff_data)
for r in test_set.itertuples():
    arff_data_test['data'].append([r.nature, r.track_type, r.month,
                                   r.lon, r.lat, r.dist2land, r.msw,
                                   r.mcp, r.landfall]) 
with open('tropicalstorms-testset.arff', 'w') as f:
    arff.dump(arff_data_test, f)

# print breakdown of records used for training and test sets
display(Markdown("### breakdown of dataset records used for training and test sets"))
display(Markdown("* total storms: {}".format(len(df))))
display(Markdown("* total storms used for training set : {}".format(len(landfall_sample) + len(nolandfall_sample))))
display(Markdown("* total storms used for test set: {}".format(len(test_set))))

# print class label distribution of randomly sampled datasets of each class value
display(Markdown("### training set class label distribution of randomly sampled datasets of each class value"))
display(Markdown("* total training set storms: {}".format(len(landfall_sample) + len(nolandfall_sample))))
display(Markdown("* total training set storms with class variable landfall == True : {}".format(len(landfall_sample))))
display(Markdown("* total training set storms with class variable landfall == False: {}".format(len(nolandfall_sample))))
display(Markdown("* total test set storms: {}".format(len(test_set))))

### breakdown of dataset records used for training and test sets

* total storms: 4836

* total storms used for training set : 1000

* total storms used for test set: 3836

### training set class label distribution of randomly sampled datasets of each class value

* total training set storms: 1000

* total training set storms with class variable landfall == True : 500

* total training set storms with class variable landfall == False: 500

* total test set storms: 3836

### Save DataFrame datasets (all, landfall/nolandfall training sets and test set) as tables in HDF5

In [8]:
# save
df.to_hdf("tropicalstorms-all.h5", "tropicalstorms", format="table", complib="zlib", complevel=9)
landfall_sample.to_hdf("tropicalstorms-trainingset-landfall.h5", "tropicalstorms", format="table", complib="zlib", complevel=9)
nolandfall_sample.to_hdf("tropicalstorms-trainingset-nolandfall.h5", "tropicalstorms", format="table", complib="zlib", complevel=9)
test_set.to_hdf("tropicalstorms-testset.h5", "tropicalstorms", format="table", complib="zlib", complevel=9)

### Visualize the dataset storms tracks

In [9]:
# set styles
trainingset_landfall_style = {
    "color": "red",
    "weight": 1,
}
trainingset_nolandfall_style = {
    "color": "green",
    "weight": 1,
}
testset_style = {
    "color": "yellow",
    "weight": 1,
}
hover_style = {
    "weight": 5,
}

# hover handler
def hover_handler(event=None, id=None, properties=None):
    sys.stdout.write("\r" + properties['msg'])
    sys.stdout.flush()

# show map    
m = Map(center=[0, 180], zoom=2)
m

2492 RITA 29 2 14 1963-12-15 00:00:00.000 130.59999084472656 12.0 535 0.0 1010.0 2 0

In [10]:
# add training set storm tracks that made landfall
for r in landfall_sample.itertuples():
    l = GeoJSON(data=json.loads(r.feature), style=trainingset_landfall_style, hover_style=hover_style)
    l.on_hover(hover_handler)
    m.add_layer(l)

In [11]:
# add training set storm tracks that didn't make landfall
for r in nolandfall_sample.itertuples():
    l = GeoJSON(data=json.loads(r.feature), style=trainingset_nolandfall_style, hover_style=hover_style)
    l.on_hover(hover_handler)
    m.add_layer(l)