# Will a tropical storm make landfall?

## The source dataset

We will use the IBTrACS (International Best Track Archive for Climate Stewardship) tropical storm database hosted at NOAA: https://www.ncdc.noaa.gov/ibtracs/index.php?name=wmo-data. We will be using the NetCDF file that contains all storms. Since NetCDF is a self-describing format, info about the variables contained in this dataset can be instrospected. Additional info about the variables is located here: ftp://eclipse.ncdc.noaa.gov/pub/ibtracs/v03r08/wmo/netcdf/README.netcdf.

The class variable (prediction variable) will be determined from the dataset using the **landfall** variable:

```
    short landfall(storm, time) ;
        landfall:long_name = "Minimum distance to land until next report (0=landfall)" ;
        landfall:units = "km" ;
        landfall:_FillValue = -999s ;
```

In [1]:
import os, sys, re, json, arff
from subprocess import check_output
import netCDF4 as NC
import numpy as np
import pandas as pd
from ipyleaflet import Map, GeoJSON
from astropy.time import Time
from IPython.display import display, HTML


# get netcdf dataset
file = "Allstorms.ibtracs_wmo.v03r08.nc"
ds = NC.Dataset(file)

## Extract features

We will extract features the following features from this dataset:

* name (STRING)
* genesis_basin { 0 = NA - North Atlantic, 1 = SA - South Atlantic, 2 = WP - West Pacific, 3 = EP - East Pacific, 4 = SP - South Pacific, 5 = NI - North Indian, 6 = SI - South Indian }
* sub_basin of first observation { 0 = NA - North Atlantic, 1 = SA - South Atlantic, 2 = WP - West Pacific, 3 = EP - East Pacific, 4 = SP - South Pacific, 5 = NI - North Indian, 6 = SI - South Indian, 7 = AS - Arabian Sea, 8 = BB - Bay of Bengal, 9 = EA - Eastern Australia, 10 = WA - Wester Australia, 11 = CP - Central Pacific, 12 = CS - Carribbean Sea, 13 = GM - Gulf of Mexico, 14 = MM - Missing }
* time of first observation (MJD value) (REAL)
* longitude of first observation (REAL)
* latitude of first observation (REAL)
* distance to land of first observation (REAL)
* msw (maximum sustained wind) of first observation (REAL)
* mcp (minimum central pressure) of first observation (REAL)
* storm nature { 0 = TS - Tropical, 1 = SS - Subtropical, 2 = ET - Extratropical, 3 = DS - Disturbance, 4 = MX - Mix of conflicting reports, 5 = NR - Not Reported, 6 = MM - Missing, 7 = - Missing }
* track_type { 0 = main - cylclogenesis to cyclolysis, 1 = merge - cyclogenesis to merger, 2 = split - split to cyclolysis, 3 = other - split to merger }
* made_landfall { TRUE, FALSE }

In [6]:
# define dict for discrete features
disc_map = {
    "basin": {
         0: "NA",
         1: "SA",
         2: "WP",
         3: "EP",
         4: "SP",
         5: "NI",
         6: "SI",
         7: "AS",
         8: "BB",
         9: "EA",
        10: "WA",
        11: "CP",
        12: "CS",
        13: "GM",
        14: "MM",
    },
    "nature": {
        0: "TS",
        1: "SS",
        2: "ET",
        3: "DS",
        4: "MX",
        5: "NR",
        6: "MM",
        7: "MM2",
    },
    "track_type": {
        0: "main",
        1: "merge",
        2: "split",
        3: "other",
    }
}

# extract features from each hurricane and save into a list of dicts
data = []
landfall_count = 0

# compile regular expression for matching unnamed storms
unnamed_re = re.compile(r'(UNNAMED|NOT NAMED)')

for i in range(ds.dimensions['storm'].size):
    
    # get number of observations
    obs = ds.variables['numObs'][i]
    if obs <= 2: continue # skip if there are 2 or less observations
    
    # extract filterable features first
    name = np.array_str(NC.chartostring(ds.variables['name'][i,:]))[2:-1]
    genesis_basin = ds.variables['genesis_basin'][i]
    sub_basin = ds.variables['sub_basin'][i,:obs-1]
    nature = ds.variables['nature_wmo'][i:,obs-1]
    
    # skip records that have missing values in features
    if genesis_basin == 14:
        continue
    # skipping this filter; this filters out the east pacific storms
    #if sub_basin[0] == 14:
    #    continue
    if nature[0] in (4, 5, 6, 7):
        continue
        
    # skip records with unnamed storms
    if unnamed_re.search(name): continue
    
    # extract the rest of the features
    time = ds.variables['time_wmo'][i,:obs-1]
    time_iso = Time(time, format='mjd', scale='utc')
    
    # extract lon and handle wrapping issue
    lon = ds.variables['lon_wmo'][i,:obs-1]
    lon_diff = lon[0] - lon[-1]
    if lon_diff > 180.:
        lon[np.where(lon > 0)] -= 360.
    elif lon_diff < 180.:
        lon[np.where(lon < 0)] += 360.
        
    lat = ds.variables['lat_wmo'][i,:obs-1]
    dist2land = ds.variables['dist2land'][i,:obs-1]
    msw = ds.variables['wind_wmo'][i,:obs-1]
    mcp = ds.variables['pres_wmo'][i,:obs-1]
    tt = ds.variables['track_type'][i]
    landfall = (ds.variables['landfall'][i,:obs-1] == 0).any()
    
    # create GeoJSON of storm track
    ls = { 
        "type": "LineString",
        "coordinates": np.dstack((lon, lat))[0].tolist(),
    }
    
    # create feature for leaflet display;
    # stuff features into a message info for on_hover display
    msg = "{} {} {} {} {} {} {} {} {} {} {} {} {}".format(i, name, obs, genesis_basin, sub_basin[0],
                                                          time_iso[0].iso, lon[0], lat[0], dist2land[0],
                                                          msw[0], mcp[0], nature[0], tt, landfall)
    ls_feature = { 
        "type": "Feature",
        "properties": { "msg": msg },
        "geometry": ls,
    }
    
    # create data dict
    data.append({
        "name": name,
        "genesis_basin": disc_map['basin'][genesis_basin],
        "sub_basin": disc_map['basin'][sub_basin[0]],
        "time": time[0],
        "lon": lon[0],
        "lat": lat[0],
        "dist2land": dist2land[0],
        "msw": msw[0],
        "mcp": mcp[0],
        "nature": disc_map['nature'][nature[0]],
        "track_type": disc_map['track_type'][tt],
        "landfall": landfall,
        "feature": ls_feature,
    })
    
    # tally landfall
    if landfall: landfall_count += 1
    
# print tally
print("total storms: {}".format(len(data)))
print("hit landfall: {}".format(landfall_count))

# create data frame
df = pd.DataFrame(data, columns=["name", "genesis_basin", "sub_basin", "time",
                                 "lon", "lat", "dist2land", "msw", "mcp", "nature",
                                 "track_type", "landfall"])

WARNING: ErfaWarning: ERFA function "d2dtf" yielded 1 of "dubious year (Note 5)" [astropy._erfa.core]

total storms: 3636
hit landfall: 1655

In [7]:
display(df)

,name,genesis_basin,sub_basin,time,lon,lat,dist2land,msw,mcp,nature,track_type,landfall
0,HIKI,EP,CP,33505.00,215.500000,14.500000,1229,25.0,0.0,TS,main,False
1,ABLE,NA,NA,33505.00,304.500000,17.100000,930,35.0,0.0,ET,main,True
2,BAKER,NA,NA,33511.50,306.000000,12.000000,683,30.0,0.0,TS,main,True
3,CHARLIE,NA,NA,33514.50,333.600006,11.099999,1045,35.0,0.0,ET,main,False
4,DOG,NA,NA,33523.75,304.399994,15.200000,772,80.0,0.0,ET,main,True
5,EASY,NA,CS,33525.25,276.799988,19.699999,194,40.0,0.0,TS,main,True
6,FOX,NA,NA,33532.25,319.000000,15.500000,1686,40.0,0.0,ET,main,False
7,GEORGE,NA,NA,33551.25,309.000000,24.600000,1660,35.0,0.0,ET,main,False
8,HOW,NA,GM,33555.25,271.600006,25.599998,385,30.0,0.0,TS,main,True
9,ITEM,NA,GM,33562.25,269.600006,23.299999,240,35.0,0.0,TS,main,True
10,JIG,NA,NA,33565.50,313.000000,22.400000,1982,40.0,0.0,ET,main,False
11,KING,NA,CS,33567.25,275.799988,16.000000,24,25.0,0.0,TS,main,True
12,LOVE,NA,GM,33572.00,270.500000,25.500000,392,40.0,0.0,ET,main,True
13,MIKE,NA,NA,33579.50,317.799988,24.699999,2448,25.0,0.0,TS,main,False
14,01W:GEORGIA,WP,MM,33723.25,158.300003,5.700000,1227,0.0,1002.0,TS,main,False
15,02W:HOPE,WP,MM,33751.00,151.500000,8.000000,1200,0.0,1002.0,TS,main,False
16,03W:IRIS,WP,MM,33764.50,144.899994,6.300000,960,0.0,1008.0,ET,main,True
17,04W:JOAN,WP,MM,33772.00,157.000000,6.500000,1227,0.0,1005.0,ET,main,False
18,ABLE,NA,NA,33782.00,292.000000,32.000000,809,30.0,0.0,TS,main,False
19,05W:KATE,WP,MM,33823.25,135.000000,11.000000,984,0.0,1006.0,ET,main,True
20,06W:LOUISE,WP,MM,33853.25,140.399994,10.500000,1360,0.0,963.0,TS,main,True
21,BAKER,NA,NA,33860.25,307.100006,20.900000,1358,30.0,0.0,TS,main,False
22,CHARLIE,NA,NA,33870.00,315.899994,12.099999,1179,30.0,0.0,TS,main,True
23,DOG,NA,NA,33885.25,334.399994,12.300000,916,25.0,0.0,TS,main,False
24,EASY,NA,NA,33890.25,328.000000,12.500000,1586,30.0,0.0,ET,main,False
25,FOX,NA,NA,33891.75,339.700012,12.599999,380,30.0,0.0,ET,main,False
26,10W:PAT,WP,MM,33909.00,137.000000,8.000000,987,0.0,1008.0,ET,main,True
27,GEORGE,NA,GM,33908.75,266.799988,19.400000,103,30.0,0.0,TS,main,True
28,HOW,NA,CS,33918.00,274.200012,20.199999,132,25.0,0.0,ET,main,True
29,11W:RUTH,WP,MM,33927.00,144.399994,11.700000,1565,0.0,1002.0,ET,main,True
...,...,...,...,...,...,...,...,...,...,...,...,...
3606,ISELLE,EP,MM,56868.50,242.100006,11.300000,1544,20.0,1010.0,TS,main,False
3607,JULIO,EP,MM,56871.00,248.800003,12.500000,1015,25.0,1008.0,TS,main,False
3608,KARINA,EP,MM,56881.50,255.000000,15.099999,392,25.0,1008.0,DS,main,False
3609,LOWELL,EP,MM,56886.00,246.300003,16.000000,863,20.0,1008.0,DS,main,False
3610,MARIE,EP,MM,56891.00,261.200012,12.300000,428,30.0,1007.0,DS,main,False
3611,CRISTOBAL,NA,NA,56892.75,287.799988,21.500000,89,30.0,1005.0,ET,main,True
3612,DOLLY,NA,GM,56901.50,267.700012,19.199999,67,25.0,1009.0,DS,main,True
3613,NORBERT,EP,MM,56902.50,253.500000,17.000000,304,35.0,1004.0,DS,main,False
3614,FENGSHEN,WP,MM,56905.50,127.599998,20.299999,595,0.0,1004.0,ET,main,False
3615,SIXTEEN,EP,MM,56910.25,243.500000,12.500000,1351,25.0,1009.0,DS,main,False
3616,ODILE,EP,MM,56909.50,259.899994,13.500000,352,25.0,1007.0,TS,main,True
3617,KALMAEGI,WP,MM,56911.75,134.000000,13.500000,933,0.0,1004.0,TS,main,True
3618,EDOUARD,NA,NA,56910.75,326.799988,13.700000,1696,25.0,1009.0,DS,main,False
3619,POLO,EP,MM,56916.00,262.399994,11.400000,482,35.0,1007.0,DS,main,False
3620,FUNG-WONG,WP,MM,56917.00,135.000000,12.599999,1017,0.0,1002.0,ET,main,True
3621,RACHEL,EP,MM,56924.00,257.399994,14.500000,352,30.0,1006.0,DS,main,False
3622,KAMMURI,WP,MM,56923.50,149.599991,17.900000,2126,0.0,1004.0,ET,main,False
3623,PHANFONE,WP,MM,56928.25,157.099991,11.000000,1681,0.0,1004.0,ET,main,True
3624,SIMON,EP,MM,56930.50,259.899994,14.700000,227,25.0,1008.0,DS,main,True
3625,VONGFONG,WP,MM,56932.50,162.099991,7.300000,1625,0.0,1006.0,ET,main,True
3626,FAY,NA,NA,56940.00,298.799988,22.000000,610,35.0,1007.0,TS,main,False
3627,ANA,EP,MM,56940.50,231.300003,9.700000,2429,20.0,1009.0,ET,main,False
3628,GONZALO,NA,NA,56941.75,305.100006,16.400000,917,25.0,1010.0,ET,main,False
3629,TRUDY,EP,MM,56947.25,261.399994,13.900000,250,25.0,1007.0,TS,main,True
3630,HANNA:INVEST,NA,GM,56951.00,264.700012,19.500000,88,25.0,1002.0,DS,main,True
3631,VANCE,EP,MM,56959.75,260.899994,10.700000,609,30.0,1007.0,TS,main,False
3632,NURI,WP,MM,56960.00,140.899994,12.599999,1599,0.0,1004.0,ET,main,False
3633,SINLAKU,WP,MM,56987.00,128.000000,8.400000,173,0.0,1002.0,TS,main,True
3634,HAGUPIT,WP,MM,56991.50,156.000000,2.600000,797,0.0,1006.0,TS,main,True
3635,JANGMI,WP,MM,57019.00,128.699997,7.400000,231,0.0,1006.0,TS,main,True

## Visualize the filtered storms

In [8]:
# set styles
style = {
    "color": "red",
    "weight": 1,
}
hover_style = {
    "weight": 5,
}

# hover handler
def hover_handler(event=None, id=None, properties=None):
    sys.stdout.write("\r" + properties['msg'])
    sys.stdout.flush()

# show map    
m = Map(center=[360, 0], zoom=2)
m

7006 MANGKHUT 13 2 14 2013-08-05 00:00:00.000 117.69999694824219 10.699999809265137 137 0.0 1006.0 0 0

In [9]:
# add tracks
for i in data:
    l = GeoJSON(data=i['feature'], style=style, hover_style=hover_style)
    l.on_hover(hover_handler)
    m.add_layer(l)

## Randomly select dataset of 500 examples of storms that made landfall and 500 that did not

In [24]:
# randomly sample 500 records of each class value
landfall_sample = df.loc[df['landfall'] == True].sample(500)
nolandfall_sample = df.loc[df['landfall'] == False].sample(500)

# generate ARFF file
arff_data = {
    "relation": "tropicalstorms",
    "description": "IBTrACS (International Best Track Archive for Climate Stewardship) tropical storm database",
    "attributes": [
        ("genesis_basin", ["NA", "SA", "WP", "EP", "SP", "NI", "SI"]),
        ("nature", ["TS", "SS", "ET", "DS"]),
        ("track_type", ["main", "merge", "split", "other"]),
        ("time", "DATE"),
        ("lon", "REAL"),
        ("lat", "REAL"),
        ("dist2land", "REAL"),
        ("msw", "REAL"),
        ("mcp", "REAL"),
        ("landfall", ["True", "False"]),
    ],
    "data": [],
}
for r in landfall_sample.itertuples():
    arff_data['data'].append([r.genesis_basin, r.nature, r.track_type,
                              Time(r.time, format='mjd', scale='utc'),
                              r.lon, r.lat, r.dist2land, r.msw,
                              r.mcp, r.landfall]) 
for r in nolandfall_sample.itertuples():
    arff_data['data'].append([r.genesis_basin, r.nature, r.track_type,
                              Time(r.time, format='mjd', scale='utc'),
                              r.time, r.lon, r.lat, r.dist2land, r.msw,
                              r.mcp,  r.landfall]) 
with open('tropicalstorms.arff', 'w') as f:
    arff.dump(arff_data, f)